<extend name="frame" />
<block name="content">
  <h1 class="page-header">概览 <small>Overview</small></h1>

  <div class="row" style="text-align: center;">
    <div class="col-sm-4">
      <h4 class="text-muted">用户答题次数</h4 class="text-muted">
      <h3>{$submissions_count}</h3>
    </div>
    <div class="col-sm-4">
      <h4 class="text-muted">题库数量</h4 class="text-muted">
      <h3>{$questions_count}</h3>
    </div>
    <div class="col-sm-4">
      <h4 class="text-muted">平均正确率</h4 class="text-muted">
      <h3>{$responses_correct_average}</h3>
    </div>
  </div>
</block>
